[submodule "htdocs/project/plugins/sfAltumoPlugin"]
	path = htdocs/project/plugins/sfAltumoPlugin
	url = git://github.com/homer6/sfAltumoPlugin.git
[submodule "htdocs/project/plugins/sfPropelORMPlugin"]
	path = htdocs/project/plugins/sfPropelORMPlugin
	url = git://github.com/propelorm/sfPropelORMPlugin.git
[submodule "htdocs/project/lib/vendor/symfony"]
	path = htdocs/project/lib/vendor/symfony
	url = git://github.com/thatjuan/symfony1.git
